{% layout "server/layouts/base.liquid" %}

{% block content %}

<h1 class="h1">{{ title }}</h1>

<ul class="grid">
  {% for monster in monsters %}
    <li class="paper">
      <a href="/monster/{{ monster.id }}">
      <p>{{monster.name}}</p>
      <img src="{{monster.image}}" alt="" />
        {% comment %} {% render 'server/components/card/card.liquid', item: item %} {% endcomment %}
      </a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
